[desaip]
database=desaip
host=localhost
port=3306
user=pjshwa
password=
datadir=/opt/bitnami/mysql/data
plugin-dir=/opt/bitnami/mysql/lib/plugin
socket=/opt/bitnami/mysql/tmp/mysql.sock
reconnect=true
